<div *ngIf="loading$ | async">
  <mat-spinner style="margin-top: 5vh"></mat-spinner>
</div>

<div *ngIf="!(loading$ | async)">
  <div class="container">
    <div class="exit-button">
      <button mat-icon-button (click)="onClickCloseDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <br />
    <div class="heading">
      <h1>Add Staff</h1>
    </div>
    <div class="form-fields">
      <form [formGroup]="staffForm">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="First Name"
            formControlName="firstName"
            autocomplete="off"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
            autocomplete="off"
          />
        </mat-form-field>
      </form>
    </div>
    <div class="action-btn">
      <button
        mat-raised-button
        [disabled]="staffForm.invalid"
        (click)="onClickSaveEmployeeToDB()"
      >
        Save Staff
      </button>
    </div>
  </div>
</div>
