<div *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!(loading$ | async)">
  <div class="container">
    <!--If No Offices, show empty-->
    <div *ngIf="offices | async">
      <div class="spacing"></div>
      <!--Loop through offices-->
      <div *ngFor="let office of offices | async">
        <div class="offices_block">
          <!--Box That Contains The Office Details-->
          <div class="office_container">
            <!--LHS Col with colored background, icon + number-->
            <div
              class="col left-col"
              (click)="onClickNavigateOffice(office.id)"
            >
              <mat-icon>groups</mat-icon>
              <p>{{ office.totalEmployees }}/{{ office.maxOfficeOccupants }}</p>
            </div>
            <!--Middle Col With Office Name + Location + Email-->
            <div class="col center-col">
              <h4>{{ office.name }}</h4>
              <p>{{ office.location }}</p>
              <p style="color: lightskyblue; font-weight: 400">
                {{ office.email }}
              </p>
            </div>
            <!--RHS Col With Menu Button + Actions Menu + Telephone Number-->
            <div class="col right-col">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="onClickNavigateOffice(office.id)"
                >
                  <mat-icon>work_outline</mat-icon>
                  <span>View Office</span>
                </button>
                <button
                  mat-menu-item
                  (click)="onClickOpenEditOfficeDialog(office.id)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button
                  mat-menu-item
                  (click)="
                    onClickOpenDeleteOfficeDialog(office.id, office.name)
                  "
                >
                  <mat-icon>delete</mat-icon>
                  <span>Remove</span>
                </button>
              </mat-menu>
              <p style="color: lightskyblue; font-weight: 400">
                {{ office.tellNumber | phone }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Array empty, show noItems with add function-->
    <div *ngIf="(offices | async).length == 0">
      <div class="box">
        <mat-card>
          <mat-card-title>No Offices Yet</mat-card-title>
          <button mat-raised-button (click)="onClickOpenAddOfficeDialog()">
            Add First Office
            <mat-icon>add</mat-icon>
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
