<!--Show Loading Spinner-->
<div *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<!--Show Office After Loading-->
<div *ngIf="!(loading$ | async)">
  <div *ngIf="office$ | async as office">
    <!--Header section of the view office page-->
    <div class="top-background">
      <div class="top-row">
        <button mat-icon-button (click)="onClickNavigateBack()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <h1>{{ office.name }}</h1>
      </div>
      <div class="middle-row">
        <p>Address: {{ office.location }}</p>
        <p>Email: {{ office.email }}</p>
        <p>Office Tell: {{ office.tellNumber | phone }}</p>
        <p>Max Capacity: {{ office.maxOfficeOccupants }}</p>
      </div>
    </div>
    <!--Search Bar That Filters Users-->
    <div class="searchbar">
      <form [formGroup]="searchForm">
        <mat-form-field>
          <input
            matInput
            placeholder="Search Employees..."
            formControlName="searchString"
            autocomplete="off"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="employee-actions">
      <p>
        Staff Members: {{ office.totalEmployees }}/
        {{ office.maxOfficeOccupants }}
      </p>
      <div *ngIf="office.totalEmployees < office.maxOfficeOccupants">
        <button
          mat-raised-button
          (click)="onClickOpenAddNewStaffMemberDialog(office.id)"
        >
          Add Staff Member
        </button>
      </div>
      <div *ngIf="!(office.totalEmployees < office.maxOfficeOccupants)">
        <button mat-raised-button>Office Full</button>
      </div>
    </div>
  </div>
  <!--Area That Displays Employees-->
  <!--Loading-->
  <div *ngIf="staffLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <!--Not Loading-->
  <div *ngIf="!(staffLoading$ | async)">
    <!--Not empty staff array, show staff + staff actions-->
    <div *ngIf="(staff$ | async).length > 0">
      <!--Unfiltered -->
      <div *ngIf="!showFiltered">
        <div *ngFor="let staff of staff$ | async">
          <div class="employee-cards">
            <div class="employee-card">
              <mat-card>
                <div class="card-layout">
                  <div class="left-col">
                    <div class="avatar">
                      <img
                        mat-card-avatar
                        src="../../../assets/defaultavatar.png"
                      />
                    </div>
                  </div>
                  <div class="middle-col">
                    <h1>{{ staff.firstName }} {{ staff.lastName }}</h1>
                  </div>
                  <div class="right-col">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="onClickOpenEditStaffDialog(staff)"
                      >
                        <mat-icon>edit</mat-icon>
                        <span>Edit Staff</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="onClickOpenDeleteStaffDialog(staff)"
                      >
                        <mat-icon>delete</mat-icon>
                        <span>Remove Staff</span>
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <!--Filtered Employees-->
      <div *ngIf="showFiltered">
        <!--Filtered Shown After Input-->
        <div class="employee-cards" *ngIf="showFiltered">
          <div class="employee-card" *ngFor="let employee of filteredEmployees">
            <mat-card>
              <div class="card-layout">
                <div class="avatar">
                  <img
                    mat-card-avatar
                    src="../../../assets/defaultavatar.png"
                  />
                </div>
                <h1>{{ employee.firstName }} {{ employee.lastName }}</h1>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="onClickOpenEditStaffDialog(employee)"
                  >
                    <mat-icon>edit</mat-icon>
                    <span>Edit Staff</span>
                  </button>
                  <button
                    mat-menu-item
                    (click)="onClickOpenDeleteStaffDialog(employee)"
                  >
                    <mat-icon>delete</mat-icon>
                    <span>Remove Staff</span>
                  </button>
                </mat-menu>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <!--Empty Staff Array, Show Add Staff Button-->
    <div *ngIf="(staff$ | async).length == 0" class="empty-action">
      <p>No Staff Added Yet</p>
      <div *ngIf="office$ | async as office">
        <button
          mat-raised-button
          (click)="onClickOpenAddNewStaffMemberDialog(office.id)"
        >
          Add First Staff Member
        </button>
      </div>
    </div>
  </div>
</div>
