<div *ngIf="loading$ | async">
  <mat-spinner style="margin-top: 5vh"></mat-spinner>
</div>

<div *ngIf="!(loading$ | async)">
  <div *ngIf="office$ | async as office">
    <div class="container">
      <div class="exit-button">
        <button mat-icon-button (click)="onClickCloseDialog()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <br />
      <div class="heading">
        <h1>Remove Office</h1>
      </div>
      <div class="sub-heading">
        <p>Are you sure you want to <span style="color: red">Remove</span></p>
        <h2>{{ office.name }}</h2>
      </div>
      <div class="action-btn">
        <button mat-raised-button (click)="onClickDeleteOffice()">
          Remove Office
        </button>
      </div>
    </div>
  </div>
</div>
