<div *ngIf="loading$ | async">
  <mat-spinner style="margin-top: 5vh"></mat-spinner>
</div>

<div *ngIf="!(loading$ | async)">
  <div class="container">
    <div class="exit-button">
      <button mat-icon-button (click)="onClickCloseDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <br />
    <div class="heading">
      <h1>Remove Staff</h1>
      <br />
      <p>Are you sure you want to <span style="color: red">remove</span></p>
      <br />
      <p style="font-weight: 500">{{ staff.firstName }} {{ staff.lastName }}</p>
    </div>
  </div>
  <div class="action-btn">
    <button mat-raised-button (click)="onClickDeleteStaff()">Remove</button>
  </div>
</div>
